<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<div class="block newsletter">
    <div class="title"><strong><?php echo $block->escapeHtml(__('Newsletter')); ?></strong></div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->escapeUrl($block->getFormActionUrl()); ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="input-wrapper">
                <div class="field newsletter">
                    <label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Sign Up for Our Newsletter:')); ?></span></label>
                    <div class="control">
                        <input class="form-control" name="email" type="email" id="newsletter"
                               placeholder="<?php /* @escapeNotVerified */ echo $block->escapeHtmlAttr(__('Enter your email address')); ?>"
                               data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>
                <button class="action subscribe btn btn-default type-2 primary" title="<?php /* @escapeNotVerified */ echo $block->escapeHtmlAttr(__('Subscribe')); ?>" type="submit">
                    <i class="fa fa-chevron-right"></i>
                    <span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
                </button>
            </div>
        </form>
    </div>
</div>
