<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block discount col-sm-4" id="block-discount">
	<div class="block-inner">
		<div class="block-title" data-role="title">
			<strong id="block-discount-heading"><?php /* @escapeNotVerified */ echo __('Apply Discount Code') ?></strong>
		</div>
		<div class="content" data-role="content" aria-labelledby="block-discount-heading">
			<form id="discount-coupon-form"
				  action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/couponPost') ?>"
				  method="post"
				  data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
												   "removeCouponSelector": "#remove-coupon",
												   "applyButton": "button.action.apply",
												   "cancelButton": "button.action.cancel"}}'>
				<div class="fieldset coupon<?php strlen($block->getCouponCode()) ? ' applied' : ''?>">
					<input type="hidden" name="remove" id="remove-coupon" value="0" />
					<div class="field">
						<label for="coupon_code" class="label"><span><?php /* @escapeNotVerified */ echo __('Enter discount code') ?></span></label>
						<div class="control">
							<input type="text" class="form-control" id="coupon_code" name="coupon_code" value="<?php echo $block->escapeHtml($block->getCouponCode()) ?>" placeholder="<?php echo $block->escapeHtml(__('Enter discount code'));?>" <?php if (strlen($block->getCouponCode())): ?> disabled="disabled" <?php endif; ?> />
						</div>
					</div>
					<div class="actions-toolbar">
						<?php if (!strlen($block->getCouponCode())): ?>
						<div class="primary">
							<button class="action apply btn btn-default" type="button" value="<?php /* @escapeNotVerified */ echo __('Apply Discount') ?>">
								<span><?php /* @escapeNotVerified */ echo __('Apply Discount') ?></span>
							</button>
						</div>
						<?php else: ?>
							<div class="primary">
								<button  type="button" class="action cancel btn-default" value="<?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?>"><span><?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?></span></button>
							</div>
						<?php endif; ?>
					</div>
				</div>
			</form>
		</div>
    </div>
</div>
