<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Cart\Shipping */ ?>

<div id="block-shipping" class="block shipping col-sm-4">
	<div class="block-inner">
		<div class="block-title">
			<strong id="block-shipping-heading" role="heading" aria-level="2">
				<?php /* @escapeNotVerified */ echo $block->getQuote()->isVirtual() ? __('Estimate Tax') : __('Estimate Shipping and Tax') ?>
			</strong>
		</div>
		<div id="block-summary" data-bind="scope:'block-summary'" class="content" data-role="content" aria-labelledby="block-shipping-heading">
			<!-- ko template: getTemplate() --><!-- /ko -->
			<script type="text/x-magento-init">
				{
					"#block-summary": {
						"Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
					}
				}
			</script>
			<script>
				window.checkoutConfig = <?php /* @escapeNotVerified */ echo $block->getSerializedCheckoutConfig(); ?>;
				window.customerData = window.checkoutConfig.customerData;
				window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
				require([
					'mage/url',
					'Magento_Ui/js/block-loader'
				], function(url, blockLoader) {
					blockLoader("<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>");
					return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
				})
			</script>
		</div>
    </div> 
</div>
