<?php 
	$is_home_page = $this->helper('\Meigee\Porter\Helper\PorterGeneral')->getMeigeeRequest();
	var_dump($is_home_page->getFullActionName());
	die('111111111');
?>

<strong class="logo">
	<img src="http://192.168.0.55/Tolik/m2/dev2/pub/static/frontend/Meigee/porter/en_US/images/logo.png" alt="Magento Commerce">
</strong>

<a href="" title="">

</a>