<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magento\Theme\Block\Html\Breadcrumbs $block */
/** @var \Magento\Catalog\ViewModel\Product\Breadcrumbs $viewModel */
$viewModel = $block->getData('viewModel');
?>
<div class="breadcrumbs-wrapper type-2">
	<div class="container">
		<div class="breadcrumbs" data-mage-init='{
			"breadcrumbs": {
				"categoryUrlSuffix": "<?= $block->escapeHtml($viewModel->getCategoryUrlSuffix()); ?>",
				"useCategoryPathInUrl": <?= (int)$viewModel->isCategoryUsedInProductUrl(); ?>,
				"product": "<?= $block->escapeHtml($viewModel->getProductName()); ?>"
			}
		}'>
		</div>
	</div>
</div>