<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="row">
  
    <div class="box-tocart pull-right ">
        <div class="fieldset clearfix">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
                    <div class="control clearfix">
<!--                        <div class="quantity-decrease" onclick="qtyDown()"><i class="icon-arrow-left"></i></div>-->
                        <select
                               name="qty"
                               id="qty"
                               title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                               class="input-text qty"
                        >
                            <option value="1" selected="selected">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
<!--                        <div class="quantity-increase" onclick="qtyUp()"><i class="icon-arrow-right"></i></div>-->
                    </div>
                </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                        title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                        class="action btn btn-primary btn-cart type-2 tocart"
                        id="product-addtocart-button">
                    <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                </button>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
</div>
	<?php if ($block->shouldRenderQuantity()): ?>
		<script type="text/javascript">
			var qty_el = document.getElementById('qty');
			var qty = qty_el.value;
			// if(qty < 2){
				// jQuery('.quantity_box_button_down').css({
				// 'visibility' : 'hidden'
				// });
			// }
			function qtyDown(){
				var qty_el = document.getElementById('qty');
				var qty = qty_el.value;
				// if( qty == 2) {
				// jQuery('.quantity_box_button_down').css({
					// 'visibility' : 'hidden'
				// });
				// }
				if( !isNaN( qty ) && qty > 0 ){
				qty_el.value--;
				}
				return false;
			}

			function qtyUp(){
				var qty_el = document.getElementById('qty');
				var qty = qty_el.value;
				if( !isNaN( qty )) {
				qty_el.value++;
				}
				// jQuery('.quantity_box_button_down').css({
				// 'visibility' : 'visible'
				// });
				return false;
			}
		</script>
	<?php endif; ?>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
