<?php
	$meigee_helper = $this->helper('\Meigee\Porter\Helper\PorterGeneral');
	$contentWidth = $meigee_helper->getCustomThemeOptionCnf('porter_layout', 'container_width');
	$sticky_opacity = $meigee_helper->getCustomThemeOptionCnf('porter_header', 'sticky_header_opacity');
?>
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CNoto+Sans:400,400i,700" rel="stylesheet">
<style type="text/css">
	body.boxed-layout .container,
	body .container {max-width: <?php echo $contentWidth; ?>px; width: 100%;}
	#sticky-header {opacity: <?php echo $sticky_opacity/100; ?>;}
</style>