<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Top menu for store
 *
 * @see \Magento\Theme\Block\Html\Topmenu
 */
?>
<?php
 $columnsLimit = $block->getColumnsLimit() ?: 0; 
?>
<?php
 $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ;
 ?>
<nav class="navbar navbar-default navigation" >
	<div class="collapse topmenu navbar-collapse">
		<ul class="nav topmenu navbar-nav" id="sticky-nav" data-mage-init='{"sticky_menu":{"responsive": true, "expanded": true, "delay":0, "position":{"my":"left top","at":"left bottom"}}}'>
			<?php  echo $_menu ?>
		</ul>
	</div>
</nav>
