@media only screen and (min-width: 1008px) {
	a.level-top .category-label {
		top: 0;
	}
	.category-label {
		color: #fff;
		font-style: normal;
		padding: 1px 5px 2px;
		font-size: 10px;
		line-height: 1em;
		font-weight: bold;
		text-transform: uppercase;
		border-radius: 0 0 5px 5px;
	}
	.category-label.label-one {
	    background-color: #ffed2a;
	    color: #222;
	}
	.category-label.label-two {
	    background-color: #8ac2c3;
	}
	.category-label.label-three {
	    background-color: #ff5900;
	}
	.header-wrapper .megamenu .topmenu ul.level0:not(.default-menu) li.level1 > a span {
		color: rgba(0,0,0,.86);
		font-size: 14px;
		line-height: 1.5em;
		display: block;
		font-family: 'Montserrat', sans-serif;
		padding-bottom: 4px;
	}
	.header-wrapper .megamenu .topmenu ul.level0:not(.default-menu) li.level1 > a:hover span {
		color: #474958;
	}
	.header-wrapper .megamenu .topmenu .megamenu-wrapper ul.level1 a {
		position: relative;
		text-transform: none;
		line-height: 1.5em;
		display: block;
		font-size: 13px;
		color: rgba(0,0,0,.6);
		padding-left: 0;
	}
	.header-wrapper .megamenu .topmenu .megamenu-wrapper ul.level1 a span:before {
		content: "\e606";
		display: inline-block;
		font-family: "simple-line-icons";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		text-rendering: auto;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 10px;
		border-radius: 50%;
		vertical-align: middle;
		position: relative;
		top: -1px;
		margin-right: 5px;
		color: #474958;
	}
	.header-wrapper .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='2'] ul.level0 li.level1 > a {width: calc(100% / 2);}
	.header-wrapper .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='3'] ul.level0 li.level1 > a {width: calc(100% / 3);}
	.header-wrapper .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='4'] ul.level0 li.level1 > a {width: calc(100% / 4);}
	.header-wrapper .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='5'] ul.level0 li.level1 > a {width: calc(100% / 5);}
	.header-wrapper .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='6'] ul.level0 li.level1 > a {width: calc(100% / 6);}
	.header-wrapper .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='7'] ul.level0 li.level1 > a {width: calc(100% / 7);}
	.header-wrapper .megamenu .megamenu-wrapper.tabs-menu.vertical[data-columns='8'] ul.level0 li.level1 > a {width: calc(100% / 8);}
}