<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    // $templateType =  \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
	
	$meigee_helper = $this->helper('\Meigee\Porter\Helper\PorterGeneral');
	$lightbox_status = $meigee_helper->getCustomThemeOptionCnf('porter_lightbox', 'lightbox_status');
	$lightbox_widget_status = $meigee_helper->getCustomThemeOptionCnf('porter_lightbox', 'lightbox_home');
	$name_align = $meigee_helper->getCustomThemeOptionCnf('porter_product_listing', 'product_name_aligment');
	$stock_status = $meigee_helper->getCustomThemeOptionCnf('porter_product_listing', 'stock_status');
	$image_hover_status = $meigee_helper->getCustomThemeOptionCnf('porter_image_hover', 'image_hover_status');
	$quickview_status = $this->helper('WeltPixel\Quickview\Helper\Data')->getConfig('weltpixel_quickview/general/enable_product_listing');
    $quickview_btn = $meigee_helper->getCustomThemeOptionCnf('porter_product_listing', 'quickview_btn');

    $labels_type = $meigee_helper->getCustomThemeOptionCnf('porter_labels', 'label_type');
    $label_new = $meigee_helper->getCustomThemeOptionCnf('porter_labels', 'label_new');
    $label_sale = $meigee_helper->getCustomThemeOptionCnf('porter_labels', 'label_sale');
    $label_sale_percentage = $meigee_helper->getCustomThemeOptionCnf('porter_labels', 'label_sale_percentage');
    $front_helper = $this->helper('\Meigee\Porter\Helper\FrontHelper');
?>
    <div class="block widget block-products-list <?php /* @noEscape */ echo $mode; ?>">
        <?php if ($block->getTitle()): ?>
        <div class="block-title">
			<strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?php /* @noEscape */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @noEscape */ echo $mode; ?> <?php /* @noEscape */ echo $mode .' '. $type; ?>">
                <ol class="product-items row">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="item col-sm-3">' : '</li><li class="item col-sm-3">' ?>
						
                        <div class="product-item-info">
							<div class="image-wrapper">
								<a href="<?php echo $block->escapeUrl($block->getProductUrl($_item)); ?>" class="product-item-photo">
									<?php
										$hoverImage = $image_hover_status ? $_item->getHoverImage() : false;
										if ($hoverImage)
										{
											$hoverImageUrl = $this->helper('Magento\Catalog\Helper\Image')
															  ->init($_item, 'hover_image')
															  ->setImageFile($hoverImage)
															  ->getUrl();
											$productImage = $block->getImage($_item, $image, array('data-hover-image'=>$hoverImageUrl));
										}
										else
										{
											$productImage = $block->getImage($_item, $image, array('data-hover-image'=>null));
										}
										// echo $block->getImage($_item, $image)->toHtml();
										echo $productImage->toHtml();
									?>
								</a>
								<?php if($front_helper->isProductNew($_product) || $front_helper->isProductSale($_product) || $front_helper->isProductOnlyLeft($_product)){
	                                echo '<div class="product-labels clearfix '.$labels_type.' '.(($front_helper->isProductNew($_product) && $front_helper->isProductSale($_product)) || ($front_helper->isProductNew($_product) && $front_helper->isProductOnlyLeft($_product)) ? ' two-items' : '').'">';
	                                    if($front_helper->isProductNew($_product) && $label_new) {
	                                        echo '<span class="label-new">'.__('new').'</span>';
	                                    }
	                                    if ($front_helper->isProductOnlyLeft($_product) && $label_sale) {
	                                        echo $front_helper->isProductOnlyLeft($_product);
	                                    }
	                                    elseif($front_helper->getProductSalePercent($_product) && $label_sale) {
	                                        echo $front_helper->getProductSalePercent($_product);
	                                    } elseif ($front_helper->isProductSale($_product) && $label_sale) {
	                                        echo '<span class="label-sale">'.__('sale').'</span>';
	                                    }
	                                echo '</div>';
	                            } ?>
								<?php if (($lightbox_status && $lightbox_widget_status) || ($quickview_btn && $quickview_status)) { ?>
									<div class="hover-buttons">
										<?php if($lightbox_status && $lightbox_widget_status){ ?>
											<a href="<?php echo $productImage->getImageUrl();  ?>" data-toggle="lightbox" class="lightbox-button" data-footer="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>" title="<?php echo __('Lightbox'); ?>">
												<i class="icon-magnifier"></i>
											</a>
										<?php } ?>
										<?php if($quickview_btn && $quickview_status) { ?>
	                                    	<a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_product->getEntityId()); ?>" class="weltpixel-quickview"><i class="icon-plus"></i></a>
	                                    <?php } ?>
									</div>
								<?php } ?>
							</div>
                            <div class="product-item-details">
                                <h4 class="product-item-name <?php echo $name_align; ?>">
                                    <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                       href="<?php echo $block->escapeUrl($block->getProductUrl($_item)); ?>"
                                       class="product-item-link">
                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </h4>
                                <?php if ($templateType): ?>
									<?php echo $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
                                <?php endif; ?>
								<?php if($stock_status != 4 && $stock_status != 2) { 
									if ($_item->getIsSalable()): ?>
										<div class="stock available"><?php echo $block->escapeHtml(__('Availability')) ?><span><?php echo $block->escapeHtml(__('In stock')) ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><?php echo $block->escapeHtml(__('Availability')) ?><span><?php echo $block->escapeHtml(__('Out of stock')) ?></span></div>
									<?php endif; 
								} ?>
								<div class="price-links-block">
									<?php echo $block->getProductPriceHtml($_item, $type); ?>
									<?php if ($showWishlist || $showCompare): ?>
										<div class="add-to-links" data-role="add-to-links">
											<div class="links-inner clearfix">
												<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
													<a href="#"
													   data-post='<?php /* @noEscape */ echo $block->getAddToWishlistParams($_item); ?>'
													   class="action towishlist" data-action="add-to-wishlist"
													   title="<?php echo $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
														<i class="fa fa-heart"></i>
													</a>
												<?php endif; ?>
												<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
													<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
													<a href="#" class="action tocompare"
													   data-post='<?php /* @noEscape */ echo $compareHelper->getPostDataParams($_item);?>'
													   title="<?php echo $block->escapeHtmlAttr(__('Add to Compare')) ?>">
														<i class="fa fa-exchange"></i>
													</a>
												<?php endif; ?>
												
											</div>
										</div>
									<?php endif; ?>
								</div>
								<?php if ($showCart): ?>
									<div class="button-wrapper">
										<?php if ($_item->isSaleable()): ?>
											<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
												<button class="btn btn-default btn-cart action tocart"
														data-mage-init='{"redirectUrl":{"url":"<?php echo $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}'
														type="button" title="<?php echo $block->escapeHtmlAttr(__('Add to Cart')) ?>">
													<i class="icon-basket-loaded"></i>
													<span><?php echo $block->escapeHtml(__('Add to Cart')) ?></span>
												</button>
											<?php else: ?>
												<?php
													$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
													$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
												?>
												<button class="btn btn-default btn-cart"
														data-post='<?php /* @noEscape */ echo $postData; ?>'
														type="button" title="<?php echo $block->escapeHtmlAttr(__('Add to Cart')) ?>">
													<i class="icon-basket-loaded"></i>
													<span><?php echo $block->escapeHtml(__('Add to Cart')) ?></span>
												</button>
											<?php endif; ?>
										<?php else: ?>
											<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" title="<?php echo __('Read more') ?>" class="btn btn-default btn-cart"><i class="icon-eye"></i><?php echo __('Read more') ?></a>
										<?php endif; ?>
									</div>
								<?php endif; ?>
                            </div>
                        </div>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
