@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.woff);
}
.finder-home .tabs{
    background-color: transparent;
}
.title-browser{
    font-size:5rem;
    color:#fff;
    margin: 0 auto;
   /* border: 1px solid #000;*/
    text-align: center;
    letter-spacing: -3px;
    font-weight: 700;
    /*transform:scaleY(1.2); */
    font-family: 'Oswald', sans-serif;
}
.subtitle-browser{
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1.5rem;
    font-family: 'Oswald', sans-serif;
}
.finderDropdowns{
    background-color: transparent;
    width: 100%;
}
.finder_cols{
    padding: 10px 10px 10px 100px;
    width: auto;
    font-family: 'Oswald', sans-serif;
}
.inner_buscador{
    padding: 4px;
    width: 25%;
    float: left;
    margin: 0 auto;
}
.inner_buscador_four{
    width: 20%;
    padding: 4px;
    float: left;
    margin: 0 auto;
}
.box_buscador_1{
    border-radius: 40px 0 0 40px;
}
.box_buscador{
    width: 100%;
    float: left;
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}
.box_buscador select{
    padding-top: 6px;
    padding-bottom: 6px;
    border:1px 0 0 0;
    width: 85%;
    font-size: 15px;
    color: #474958; 
    border-left: 1px solid #395A9F; 
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    background: url(../images/select-arw.png) no-repeat 97% 100%; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
}
.option_buscador{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}
.label_buscador{
    padding: 8px 5px 5px 8px;
    color: #347BCB;
    font-size: 15px;
}
.inner_buscador button{
 float:left;
 border-radius: 0 40px 40px 0;
 background-color: #387CC5;
 height: 51px;
 width: 60%;
 font-family: 'Oswald', sans-serif;
 font-size: 16px;
 text-shadow: 1px 2px 6px #414141;
 
}
.inner_buscador button:hover{
    background-color: rgb(77, 140, 207);  
}
.inner_buscador_4{ 
    display: none;
    top: 0px;
}
@media only screen and (max-width:1320px) {
}

@media only screen and (max-width:1120px) {
}

@media only screen and (max-width:999px) {
    .title-browser{
        font-size:4rem;
    }
    .finder_cols{
        padding: 0;
    }
    .finder-home{
        top: 270px;;
    }
}

@media only screen and (max-width:768px) {
    .title-browser{
        font-size:4rem;
    }
    .finder_cols{
        padding: 0;
    }
    .finder-home{
        top: 270px;;
    }
}

@media only screen and (max-width:639px) {
    .title-browser{
        font-size:4rem;
    }
    .finder_cols{
        padding: 0;
    }
    .finder-home{
        top: 270px;;
    }
}

@media only screen and (max-width:599px) {
    .finder-home{
        top: 100px;
    }
    .title-browser{
        font-size:2rem;
        letter-spacing: 1px;
    }
    .subtitle-browser{
        font-size: 1.8rem;
        font-weight: 300;
    }
    .inner_buscador{
        width: 100%;
    }
    .finder_cols{
        padding: 0;
    }
}

@media only screen and (max-width:480px) {
    .finder-home{
        top: 100px;;
    }
    .title-browser{
        font-size:2rem;
        letter-spacing: 1px;
    }
    .subtitle-browser{
        font-size: 1.8rem;
        font-weight: 300;
    }
    .inner_buscador{
        width: 100%;
    }
    .box_buscador{
        border-radius: 40px 40px 40px 40px; 
    }
    .finder_cols{
        padding: 0;
    }
    .inner_buscador{
        text-align: center;
        margin: 0 auto;
    }
    .inner_buscador button{
        border-radius: 40px 40px 40px 40px;
        width: 40%;
    }

}