.finder-home { z-index: 999; position: absolute; top:250px; width: 100%; margin: 0 auto; }
.catalog-category-view .finder-home { margin-top: 0; }
.finder-home #click-me { color: #fff; font-size:16px; padding: 10px 40px; background-color: #ff5900; display: inline-block; text-transform: uppercase; font-weight: bold; margin-bottom: 20px; border-radius:20px; }
.finder-home .tabs { background-color:#474958; border-radius:30px; padding: 1px; width: 100%; }
.finder-home .tabs:before,
.finder-home .tabs:after { content: ''; clear: both; display: block; }
.finder-home .tabs .tab-links { list-style: none; padding: 0; margin: 0; }
.finder-home .tabs .tab-links > li { float: left; width: 50%; text-align: center }
.finder-home .tabs .tab-links > li a { color: #fff; display: block; font-size: 22px; font-family:'Oswald', sans-serif; padding: 10px; }
.finder-home .tabs .tab-links > li.active a { color: #FFA600; background-color: #474958; border-radius:30px 0 0; }
.finder-home .tabs .tab-links > li:last-child.active a { border-radius:0 30px 0 0; }
.finder-home .tabs .tab-content { clear:both; padding: 15px; }

.finderProducts h3 { margin-top:0; font-size:2rem; font-weight:700; text-transform:uppercase; margin: 0; }
.finderProducts:after, .finderProducts:before{ content:''; clear:both; display:block; }

.columns .column.main { width:100%; flex-basis:inherit !important; }

.finderProducts .finderform { text-align: center; }
.finderProducts button.subscribe { position: static; font-size: 13px; border-color: #009d45; background-color: #009d45; padding: 14px 28px; }
.finderProducts button.subscribe:hover { border-color: #00b24e; background-color: #00b24e; }
.finderProducts button[disabled] { opacity: 0.8; }
.finderProducts #reset_2,
.finderProducts #reset_3 { display: none; }


.finderProducts.vertical { max-width:580px; }

.categoryGrid .product-item { text-align:center; }

.finder-index-index .products-grid .product-item { margin-bottom: 20px; }
.finder-index-index .products-grid .product-item .product-item-photo { margin-bottom: 10px; text-align: center; }
.finder-index-index .products-grid .actions-secondary { margin-top: 10px; text-align: center; display: block; }
.finder-index-index .products-grid .actions-secondary .action.towishlist:after { content: '|'; display: inline-block; padding: 0 5px; }
.finder-index-index .products-grid .price-wrapper { padding-top: 5px; }
.finder-index-index .products-grid .product-item-name { height: inherit; min-height: 50px; }

.catalog-category-view .modal-popup._inner-scroll .modal-inner-wrap { margin:10% auto; }
.catalog-category-view .modal-slide .modal-inner-wrap,
.catalog-category-view .modal-popup .modal-inner-wrap { box-shadow: none; -webkit-box-shadow: none; }
.catalog-category-view #popup-mpdal { display:none; }
.catalog-category-view .modal-popup._inner-scroll .modal-inner-wrap,
.catalog-category-view .modal-popup._inner-scroll .modal-content { border-radius:50px; }
.catalog-category-view .modal-popup._inner-scroll .modal-footer { display:none !important; }
.catalog-category-view .modal-custom .action-close,
.catalog-category-view .modal-popup .action-close,
.catalog-category-view .modal-slide .action-close { background-color: #fff; border: 1px solid #ccc; }
.catalog-category-view .modal-custom .action-close:before,
.catalog-category-view .modal-popup .action-close:before,
.catalog-category-view .modal-slide .action-close:before { font-size:20px; }

/*.cl { clear:both; }*/

@media only screen and (max-width:1320px) {
}

@media only screen and (max-width:1120px) {
} 

@media only screen and (max-width:999px) {
}

@media only screen and (max-width:768px) {
}

@media only screen and (max-width:639px) {
}

@media only screen and (max-width:599px) {
}

@media only screen and (max-width:480px) {
}
