.finder-home { z-index: 999; position: absolute; top:250px; width: 100%; margin: 0 auto; }
.catalog-category-view .finder-home { margin-top: 0; }
.finder-home #click-me { color: #fff; font-size:16px; padding: 10px 40px; background-color: #ff5900; display: inline-block; text-transform: uppercase; font-weight: bold; margin-bottom: 20px; border-radius:20px; }
.finder-home .tabs { background-color:#474958; border-radius:30px; padding: 1px; width: 100%; }
.finder-home .tabs:before,
.finder-home .tabs:after { content: ''; clear: both; display: block; }
.finder-home .tabs .tab-links { list-style: none; padding: 0; margin: 0; }
.finder-home .tabs .tab-links > li { float: left; width: 50%; text-align: center }
.finder-home .tabs .tab-links > li a { color: #fff; display: block; font-size: 22px; font-family:'Oswald', sans-serif; padding: 10px; }
.finder-home .tabs .tab-links > li.active a { color: #FFA600; background-color: #474958; border-radius:30px 0 0; }
.finder-home .tabs .tab-links > li:last-child.active a { border-radius:0 30px 0 0; }
.finder-home .tabs .tab-content { clear:both; padding: 15px; }

.finderProducts h3 { margin-top:0; font-size:2rem; font-weight:700; text-transform:uppercase; margin: 0; }
.finderProducts:after, .finderProducts:before,.finderProducts ul:after { content:''; clear:both; display:block; }
.finderProducts ul { list-style:none; margin:0; }

.finderDropdowns { background-color: #fff; padding: 10px; border-radius:10px; float: left; width: 90%; }
.finderDropdowns li { text-align: left; }
.finderDropdowns li label { font-weight:600; }
.finderDropdowns li select { color: #474958; width: 100%; border: 0; background: url(../images/select-arw.png) no-repeat 97% 100%; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.finderDropdowns li select::-ms-expand {  display: none; /* remove default arrow on ie10 and ie11 */ }
.finderDropdowns li.column2 { width:49%; float:left; margin-right:2%; }
.finderDropdowns li:nth-child(2n).column2 { margin-right:0; }
.finderDropdowns li.column3 { width:32%; float:left; margin-right:2%; }
.finderDropdowns li:nth-child(3n).column3 { margin-right:0; }
.finderDropdowns li.column4 { width:23.5%; float:left; margin-right:2%; }
.finderDropdowns li:nth-child(4n).column4 { margin-right:0; }
.finderDropdowns li.column5 { width:15.4%; float:left; margin-right:1%; }
.finderDropdowns li:nth-child(6n).column5 { margin-right:0; }
.finderDropdowns li label { display: none; }
.finderDropdowns li input[type="radio"], .finderDropdowns li input[type="checkbox"] { margin: 0 5px 0 0; }

.columns .column.main { width:100%; flex-basis:inherit !important; }

.finderProducts .finderform { text-align: center; }
.finderProducts button.subscribe { position: static; font-size: 13px; border-color: #009d45; background-color: #009d45; padding: 14px 28px; }
.finderProducts button.subscribe:hover { border-color: #00b24e; background-color: #00b24e; }
.finderProducts button[disabled] { opacity: 0.8; }
.finderProducts #reset_2,
.finderProducts #reset_3 { display: none; }
.finderDropdowns li:nth-child(5).column5,
.finderDropdowns li:nth-child(6).column5,
/*.finderDropdowns li:nth-child(4).column4 { margin-top:7px; width:12%; }*/


.finderProducts.vertical { max-width:580px; }
.finderProducts.vertical .finderDropdowns li.column2, .finderProducts.vertical .finderDropdowns li.column3,
.finderProducts.vertical .finderDropdowns li.column4, .finderProducts.vertical .finderDropdowns li.column5 { width:100%; margin:0 0 10px; }

.categoryGrid .product-item { text-align:center; }

.finder-index-index .products-grid .product-item { margin-bottom: 20px; }
.finder-index-index .products-grid .product-item .product-item-photo { margin-bottom: 10px; text-align: center; }
.finder-index-index .products-grid .actions-secondary { margin-top: 10px; text-align: center; display: block; }
.finder-index-index .products-grid .actions-secondary .action.towishlist:after { content: '|'; display: inline-block; padding: 0 5px; }
.finder-index-index .products-grid .price-wrapper { padding-top: 5px; }
.finder-index-index .products-grid .product-item-name { height: inherit; min-height: 50px; }

.catalog-category-view .modal-popup._inner-scroll .modal-inner-wrap { margin:10% auto; }
.catalog-category-view .modal-slide .modal-inner-wrap,
.catalog-category-view .modal-popup .modal-inner-wrap { box-shadow: none; -webkit-box-shadow: none; }
.catalog-category-view #popup-mpdal { display:none; }
.catalog-category-view .modal-popup._inner-scroll .modal-inner-wrap,
.catalog-category-view .modal-popup._inner-scroll .modal-content { border-radius:50px; }
.catalog-category-view .modal-popup._inner-scroll .modal-footer { display:none !important; }
.catalog-category-view .modal-custom .action-close,
.catalog-category-view .modal-popup .action-close,
.catalog-category-view .modal-slide .action-close { background-color: #fff; border: 1px solid #ccc; }
.catalog-category-view .modal-custom .action-close:before,
.catalog-category-view .modal-popup .action-close:before,
.catalog-category-view .modal-slide .action-close:before { font-size:20px; }

.cl { clear:both; }

@media only screen and (max-width:1320px) {
	.catalog-category-view .modal-popup .modal-inner-wrap { width:90%; }
}

@media only screen and (max-width:1120px) {
	.catalog-category-view .modal-popup .finderDropdowns { width:100%; margin-bottom:10px; }
}

@media only screen and (max-width:999px) {
    .finderDropdowns li.column5 { width:23.5%; }
    .finderDropdowns li:nth-child(4n).column5 { margin-right:0; }
    .finderDropdowns li:nth-child(5n).column5 { margin-right:2%; }
}

@media only screen and (max-width:768px) {
    .finderDropdowns li.column3, .finderDropdowns li.column4 { width:49%; }
    .finderDropdowns li:nth-child(2n).column3, .finderDropdowns li:nth-child(2n).column4 { margin-right:0; }
    .finderDropdowns li:nth-child(3n).column3, .finderDropdowns li:nth-child(3n).column4 { margin-right:2%; }
    
	.finder-home .tabs .tab-links > li a { font-size:20px; }
	.finderDropdowns { width:100%; margin-bottom: 10px; }
	.finderDropdowns li select { border:1px solid #ccc; border-radius:5px; margin-bottom: 10px; }
    .finderDropdowns li.column5 { width:49%; margin-bottom: 10px; }
    .finderDropdowns li:nth-child(2n).column5 { margin-right:0; }
	.finderDropdowns li:nth-child(5).column5,
	.finderDropdowns li:nth-child(6).column5,
	.finderDropdowns li:nth-child(4).column4 { margin-top:7px; width:49%; }
}

@media only screen and (max-width:639px) {
.catalog-category-view .modal-popup._inner-scroll .modal-inner-wrap, .catalog-category-view .modal-popup._inner-scroll .modal-content { border-radius:0; }
.catalog-category-view .modal-custom .action-close, .catalog-category-view .modal-popup .action-close, .catalog-category-view .modal-slide .action-close { border:0; }
	.catalog-category-view .modal-popup .modal-inner-wrap { width:100%; }
}

@media only screen and (max-width:599px) {
	.finderDropdowns li select { margin-bottom: 0; }
	.finderDropdowns li.column4 { margin-bottom:10px; }
    .finderDropdowns li.column2, .finderDropdowns li.column3, .finderDropdowns li.column4, .finderDropdowns li.column5 { width:100%; margin-right:0; }
}

@media only screen and (max-width:480px) {
	.finder-home .tabs .tab-links > li { width:100%; }
	.finder-home .tabs .tab-links > li:last-child.active a,
	.finder-home .tabs .tab-links > li.active a { border-radius:30px 30px 0 0; }
	
	.catalog-category-view .modal-popup._inner-scroll .finder-home .tabs .tab-links > li a { font-size:16px; }
}
