@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.woff);
}
html body, body h1, body h5 {
    font-family: 'Roboto', sans-serif;
    background-color: #E6E6E6;
}

body h3, body h2, .footer .footer-block-title, .footer .block-title, .label-sale.percentage span {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    letter-spacing: normal;
}

body h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
}

body h5 {
    font-weight: 400;
    font-size: 18px;
}

body h3 {
    text-align: center;
}

body.wide-layout .footer .footer-top-block {
    background: url(../images/fondo_suscribirse_email.jpg) center no-repeat;
}

body.wide-layout .footer .footer-middle-block{
    background: url(/media/wysiwyg/background_footer_neumarket.jpg) center no-repeat #343f47;
}
.footer .footer-block-title::before {
    background: url(../images/neumarket1min_blue.png) -377px 149px; 
}
body.wide-layout .footer .footer-bottom-block{
    background-color: #21292f;
}

.footer .footer-bottom-block .container {
    padding: 5px 10px;
}

.footer .footer-block-title{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    letter-spacing: normal;
}

.footer .links li, .footer .links a, .footer .contact-block {
    padding: 0;
    color: white;
    font-weight: normal;
    font-size: 16px;
    list-style: none;
}

.footer .media-body p{
    color: #ffa300;
}

.footer .subscribe-block .block-title {
    color: #000000;
    font-size: 29px;
    text-transform: unset;
    width: 49%;
    font-family: 'Oswald', sans-serif;
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    letter-spacing: normal;
}

.footer .subscribe-block {
    text-align: center;
}

.footer .subscribe-block .block.newsletter{
    width: 49%;
}

body .subscribe-block .content input{
    color: #333f48;
}

body .btn {

    background-color: #333f48;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 4px 15px;
    border-radius: 7px;
    font-size: 12px;
    height: 40px;

}

.footer .subscribe-block .input-wrapper{
    width: 100%;
    text-align: center;
}

.wide-layout .page-header .top-block{
    background-color: #387CC5;
    color: #ffffff;
}

.page-header .header-phone, .page-header .header-phone i{
    color: #fff;
}

.minicart-wrapper .showcart .right-block {
    background-color: #007DC9;
}

.page-header .middle-block-inner .right-block, .minicart-wrapper .showcart{
    font-family: 'Roboto', sans-serif;
}

.page-header .bottom-block .menu-inner{
    border-radius: 15px;
}

.page-header .megamenu-wrapper:before{
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.page-header .megamenu-wrapper:after{
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 30px;
    margin-left: -30px;
}

.rslides1 li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    display: flex !important;
    justify-content: space-around;
}

#slider-benefits h2 {
    color: #FFA300;
}

#slider-benefits h2 span {
     color: #333F48;
}

.products-grid.four-columns li.item{
    padding: 0;
    margin-bottom: 0;
}

.products-grid.four-columns li.item .product-item-info {
   
    margin-bottom: 15px;
    
}

.products-grid .image-wrapper {
    margin-bottom: 10px;
    height: 216.5px;
    width: 216.5px;
}

.products-grid .image-wrapper .product-labels {
    bottom: 0;
    left: 0;
    top: unset;
}

.products-grid .image-wrapper .product-labels > div:not(.label-new) {
    border-top-right-radius: 4px;
    height: 30px;
    background-color: #21ae5e;
    width: 82px;
    padding-top: 6px;
}

.products-grid .image-wrapper .product-labels > div {
    font-size: 17px;
}

/*.products-grid .image-wrapper a .product-image-photo{*/
    /*position: absolute;*/
    /*width: 110px;*/
    /*z-index: 2;*/
    /*left: 0;*/
/*}*/

.product-item-details{
    margin: 0 10px;
}

.products-grid .product-item-name{
    height: 67.5px;
    line-height: 1;

}

.products-grid .product-item-name a{
    font-size: 15px;
    font-weight: normal;
}

.products-grid .price-links-block .price-box{
    margin: 0;
    width: 100%;
}

.products-grid .special-price{
    background-color: unset;
    padding: 0;
    text-align: right;
    width: 108px;
}

.products-grid .old-price{
    width: 85px;
}

.products-grid .old-price .price-final_price .price-wrapper{
    font-size: 16px;
    font-weight: 400;
}

.products-grid .special-price .price-final_price .price-wrapper{
    color: #333f48;
    line-height: 12px;
    font-size: 20px;
}






#tabs .tab-content {
    border: solid 1px #dcdcdc;
    padding: 24px 30px;
}

#tabs .nav-tabs{
    border: 0;
}

#tabs .nav-tabs li.active a, #tabs .nav-tabs > li.active > a{
    color: #333f48;
    background-color: #ffffff;
    border: solid 1px #dcdcdc !important;
    border-bottom-color: rgb(220, 220, 220);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom: 0 !important;
}

#tabs .nav-tabs li a{
    color: #333f48;
    background-color: #eee;
    border: none !important;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    letter-spacing: normal;
}

#tabs .nav-tabs li.active a span{
    border-bottom: 3px solid #ffa300;
}

#tabs .nav-tabs > li:not(.active) > a:hover{
    background-color: #989797;
}

#tabs .nav-tabs > li.active > a:hover{
    background-color: white;
    color: black;
    border: solid 1px #dcdcdc !important;
    border-bottom: 0 !important;
}


.box-tocart .qty select.qty {
    border: 0;
    background: none;
    cursor: pointer;
    padding: 10px 0 8px 10px;
    width: 65px;
    outline: 0;
    -moz-outline: none;
    -webkit-outline: none;
    -moz-user-focus: none;
    text-align: left;
    height: auto;
    -webkit-appearance: none;
    font: 12px / 20px Roboto, sans-serif;
    color: #2F2F2F;
}


.box-tocart .qty {
    float: left;
    width: 45px;
    border: 1px solid #d1d1d1;
    margin: 1px 6px 0 0;
    padding: 0;
    overflow: hidden;
    background: #fff url(../images/spriteme1min.png) no-repeat 10px -876px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.header-phone span a{
    color:#fff;
}
.header.links li a{
    color:#fff;
}
.header.links > li.authorization-link a:before {
    content: '\f2bd';
}
.header.links > li.authorization-link a:hover {
    color:#d1d1d1;
}
.page-header .bottom-block .menu-inner{
    background-color: #2F3E49;
}
.header.links >li:last-child a:hover{
    color:#d1d1d1;
}
.mobile_head{
    background-color: #38414A;
    height: 70px;
    border-radius: 40px 40px 0 0; 
}
.mobile_head .mobile_left{
    float: left;
    width: 20%;
    padding: 16px 6px 6px 6px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.mobile_head .mobile_center{
    float: left;
    width: 60%;
    text-align: center;
    padding: 17px 6px 4px 6px;
}
.mobile_head .mobile_center img{
    width: 200px;
}
.mobile_head .mobile_right{
    float: left;
    width: 20%;
    padding: 16px 16px 6px 6px;
    text-align: right;
    font-size: 20px;
    color: #fff;
}
.mobile_head .mobile_right img{
    width: 50px;
}
.subheader_mobile{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 4px;
    background-color: #387CC5;
}
body.wide-layout .footer .footer-top-block{
    background: url(../images/link_mail_footer.png) center no-repeat;
}
#maincontent{
    background-color: #E6E6E6;
}
.how_to_work{
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    padding-top: 16px;
}
.porter-icon .android-call{
    color: #fff;
}
.how_to_work .title{
    text-align: center;
}
.how_to_work .title{
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 16px;
}
.how_to_work .title .black{
    color: #3A414B;
}
.how_to_work .title .blue{
    color: #397BC9;
}
.how_to_work .col-sm-4 a img{
    width: 30%;
}
.how_to_work .col-sm-4 .info{
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 16px;
    width: 80%;
}
.how_to_work .col-sm-4 .info .black{
    color: #3A414B;
}
.how_to_work .col-sm-4 .info .black{
    color: #397BC9;
}
.how_to_work .col-sm-4 .info .gray{
    font-size: 16px;
    color: #8A8A8A;
    font-weight: lighter; 
    line-height: 1;  
}
.content-inner {
    background-color: #fff;
}
.title_promo{
    width: 100%;
    background-color: #E6E6E6;
}
.bg_white{
    background-color: #fff;
}
.about-us-content{
    width: 60%;
    font-size: 18px;
}
/*Responsive*/
@media only screen and (max-width:1320px) {
   
}

@media only screen and (max-width:1120px) {
}

@media only screen and (max-width:999px) {
}

@media only screen and (max-width:768px) {
    .top-block{
        display: none;
    }
    .finder-home{
        top: 200px;
    }
}

@media only screen and (max-width:639px) {

}
@media only screen and (min-width:639px) {
    .mobile_head{
        display: none;
    }
    .subheader_mobile{
        display: none;
    }
    .about-us-content{
        width: 80%;
        font-size: 16px;
    }
}

@media only screen and (max-width:599px) {
    /*.page-header .top-block{
        display: none;
    }
    .menu-inner .clearfix{
        display: none;
    }*/
    .mobile_head{
        display: block;
    }
    .page-header{
        display: none;
    }
    .about-us-content{
        width: 80%;
        font-size: 16px;
    }
}

@media only screen and (max-width:480px) {
   /* .page-header .top-block{
        display: none;
    }
    .menu-inner .clearfix{
        display: none;
    }*/
    .mobile_head{
        display: block;
    }
    .page-header{
        display: none;
    }
    .about-us-content{
        width: 80%;
        font-size: 16px;
    }
}