/* Global */

.block-content .btn {
    background: #333f48;
}
@media only screen and (max-width: 640px) {
  .cms-index-index #maincontent .container{
    padding:0px;
    
  }
}
/* End Global */


/* Header Menu */
.page-header .header-phone i{
  margin-right: 4px;
  margin-left:10px;
}

.page-header .bottom-block .menu-inner{
  border-radius: 25px 25px 0 0 !important;
}

.page-header .middle-block-inner{
  padding:0px;
}

.page-header .header-banners{
  padding:25px 0px 0px 0px;
}

.page-header .middle-block-inner .left-block{
  padding-top: 0px;
  padding-bottom: 0px;
}

#megamenu .topmenu>li>a{
  padding:15px 40px 15px 40px;
  font-family: 'Roboto', sans-serif !important;
  font-weight:400;
  text-transform: uppercase;
}

#megamenu .topmenu>li:last-child{
background-color: #ffa300;
float: right;
position: absolute;
  border-top-right-radius:25px;
right: 0;
  :hover{
    border-top-right-radius:25px;
    background-color: #ffa300;
  }
}

@media only screen and (max-width: 640px) {
  .header-wrapper .header-phone,.header-wrapper .header-banners, .minicart-wrapper{
    display:none;
  }
  .header-wrapper .logo{
    margin-top:15px;
  }
}


/* End Header Menu  */

/* Blok Mini Cart */
#btn-minicart-close{
  .price-container > div.price-wrapper{
    float:left;
  }
}



.minicart-items{
  overflow-y: hidden;
}

.minicart-wrapper{
  margin-top:15px;
  #top-cart-btn-checkout{
    background-color: #ff5900;
    border-color: #ff5900;
  }
  
}

.block-minicart .subtitle{
  
  font-size: 18px;
  line-height: 26px;
  
}

.block-minicart .details-qty > input{
  display:none;
}

.block-minicart .minicart-items .product-item{
  
}

.block-minicart .product-item{
  min-height:120px;
  padding: 10px;
}

.block-minicart .product-item-name >a{
  font-size: 17px;
  letter-spacing: normal;
  line-height: 23px;
  font-weight: 300;
  color: #222;
}

/* End Block Mini Cart  */

/* Banners Beneficios */

div.benefits-responsive{
  display:none;
  background-color: #333f48;
  color:white;
  div.item{
    display: inline-block;
    width: 49%;
    padding: 15px 0;
    
    img{
      max-width: 86px;
      width: 40%;
    }
    
     a > span{
      display: inline-block;
      vertical-align: middle;
      color:white;
      font-size: 11px;
       max-width:50%;
    }
  }
  
  
}

@media only screen and (max-width: 640px) {
  div.benefits-responsive{
    display:block;
  }
}


/* End Banner Beneficios*/

/*Slider Beneficios*/

#slider-benefits{
    text-align:center;
}

@media only screen and (max-width: 600px) {
  #slider-benefits{
    min-height:100px;
    padding-top:30px;
    h2{
      font-size:20px;
    }
  }
}

/* End Slider Beneficios*/

/* About Us -- Block  */
.about-us {
    background: url(../images/background_info_principal_neumarket_scroll.jpg) center no-repeat;
    min-height: 409px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-us-content {
    max-width: 1272px;
    width: 100%;
    margin: auto;
    padding: 50px 10px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-shadow: black 1px 1px 3px;
}

.about-us-content span a {
    color: #FFA300;
}

/* End About Us -- Block  */


/* Newsletter */

.footer .subscribe-block .form .btn{
    background:#333f48;
}
button.subscribe{
    right:none;
    left:76%;
}
div.footer .footer-top-block .block-title{
  font-family: 'Oswald', sans-serif !important;
}
    

.footer .subscribe-block .form .field input.form-control::placeholder{
    color:#333333;
    font-weight:600;
}

.footer .subscribe-block .form .field .control::before{
    color:#333333;
}

@media only screen and (max-width: 640px) {
  div.footer-top-block{
    background:url(../images/fondo_suscribirse_email_sm.jpg) center no-repeat !important;
  }
  hr.white-space{
    display:none!important;
  }
  div.footer .footer-top-block .block-title{
    width:100%;
    padding:20px 0px;
  
  }
  div.subscribe-block > div.newsletter{
    padding:20px 0px !important;
    width:100% !important;
    input[name=email]{
      width:100% !important; 
    }
     input[name=email]::placeholder{
       color: #999 !important;
       font-size: 13px !important;
      }
    button.subscribe{
    left: 90% !important;}
  }
}

/* End Newsletter */


/* Footer  */

.warranty {
    padding-top: 7px;
    background: url(/media/wysiwyg/backgrounds/neumarket1min.png) -49px 160px;
    height: 145px;
    width: 112px;
    display: inline-block;
}

.footer .norton-sign {
    padding-top: 7px;
    background: url(/media/wysiwyg/backgrounds/neumarket1min.png) -228px 180px;
    height: 72px;
    width: 127px;
    display: inline-block;
    vertical-align: top;
    margin-top: 16px;
    margin-left: 24px;
}

.footer .footer-block-title::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 19px;
    background: url(/media/wysiwyg/backgrounds/neumarket1min.png) -377px 149px;
}

.footer-block-title span strong {
    margin-left: 43px;
}

.footer-block-title > strong{
    margin-left: 43px;
}


.footer .subscribe-block .form .field input.form-control{
    background: #c3c3c3;
    color:#333f48;
}

.footer ul.social-links {
    float: unset;
    position: unset;
    vertical-align: unset;
    margin: -2px 0 0 -2px;
}

.footer .links li, #footer .links a {
    padding: 0;
    color: white;
    font-weight: normal;
    font-size: 16px;
    list-style: none;
}

.footer ul.links li a:before {
    content: unset;
}


.footer .social-links i.fa {
    display: inline-block;
    border-radius: 60px;
    /* box-shadow: 0px 0px 2px #888; */
    padding: 6px 8px;
    line-height: normal;
    font-size: 20px;
    background-color: white;
    color: #44555d;
}

.footer .social-links .facebook i.fa {
    padding: 6px 11px;
}

@media only screen and (max-width: 640px) {
  .footer-middle-block{
    padding:15px 0px;
    background: #343f47 !important;
    
    div.call-block{
      margin-top:35px;
      h5{letter-spacing:1px;}
    }
    
    .footer-block-title{
      padding-top:20px;  
    }
    
    div.shipping-wrapper{
      display:none;
    }
    
  }
}

/* End Footer */


/* Sidebar*/

.block-title, .block-layered-nav .block-content dt {
  font-family: "Roboto",sans-serif !important;
}
.sidebar .block{
  padding: 0px;
}

.sidebar .block.filter .block-title{
background-color: #ffa300;
text-align: center;
text-transform: uppercase;
font-size: 16px;
padding: 10px 0px;
font-weight:200;
}

.sidebar .block .block-title, .block-collapsible-nav-title{
  margin:0px;
}



.sidebar{
  
  .block.filter ol li a{
    font-family:"Roboto",sans-serif !important;
    font-weight:200 !important;
  }
  
  .filter-options-title{
    font-family: "Roboto",sans-serif !important;
    border: solid 1px #bbb9b9;
    padding: 4px 12px;
    background-color: #f2f2f2;
    margin-bottom:0px;
  }
  .filter-options-content{
    font-family: "Roboto",sans-serif !important;
    font-weight:200;
    padding:10px 10px;
    border:1px solid #bbb9b9;
    border-top:0px;
    border-bottom:0px; 
    max-height: 200px;
    overflow-y: scroll;
  }
  
  #narrow-by-list{
    >.filter-options-item:last-child{
      border-bottom:1px solid #bbb9b9;
    }
  }
  
}

@media only screen and (max-width: 640px) {
  .sidebar{
    display:none;
  }
}


/* End Sidebar */


/* toolbar-products */
.toolbar-products > .modes{
  display:none;
}
/* End toolbar-products */

/* Products Grid */

.products-grid .special-price .price, .products-list .special-price .price{
  padding-right:0px;
}
.products-grid:not(.widget-product-grid) li.item{
      padding: 0 10px 10px;
}

.product-item .indent >.product-box{
border: 1px solid #eaeaea;
float: left;
}

.product-box{
  .product-item-details{
    
    min-height:120px;
    
    h4.product-item-name{
       :hover{ color:rgba(0,0,0,.86);}
      a{
        font-family: "Roboto",sans-serif !important;
        font-weight: 400;
        letter-spacing: normal;
      }
            
      .price-links-block{
        margin:0px;
      }
   
    }
  }
}

.product-box:hover{
     box-shadow: 0 0 5px 5px #c2c2c2;
  }

.price-box span.price{
  font-family: "Roboto",sans-serif !important;
  font-size: 20px;
}

.price-links-block span.old-price{
  
  .price-wrapper {
    text-align:left;
    float:left;
  }
  
  margin-top:7px;
  span.price{
    font-size: 16px;
    font-weight:400!important;
    font-family: "Roboto",sans-serif !important;
    
  }
}

.price-wrapper {
 float:right; 
}

.products-grid .special-price .price, .products-list .special-price .price{
  background:none;
  font-family: "Roboto",sans-serif !important;
}
.special-price{
  text-align:right;
  float:right;
  
  .price{
    color: #333f48 !important;
    font-family: "Roboto",sans-serif !important;
  }
}


//LABELS
.product-labels {
  .label-sale{
    background-color: #21ae5e !important;
    width: 82px;
    border-top-right-radius:5px;
    text-shadow: 1.2px 1.2px #000;
    font-size: 25px !important;
    height: auto;
   
  }
}



@media only screen and (max-width: 640px) {
  
  .product-info-main{
    padding: 0px 12%;
  }
  
  .products-grid:not(.widget-product-grid) li.item + li.item{
    margin-top:0px;
  }
  
  div.product-item-info > div.indent{
    padding: 0px 15%;
  }
  
  div.product-box{
    width:100%;
    border-radius:10px;
    
    .image-wrapper{
      width:auto;
      height:auto;
    }
    
  }
}


/* End Product Grid  */

/*  Detail Product  */



body.catalog-product-view .product-custom, body.catalog-product-view .product-social-links{
  display:none;
}

#product_addtocart_form .price-final_price .price-wrapper > .price{
font-size: 30px;
line-height: 1;
font-family: "Roboto",sans-serif !important;
}

.product-info-main h1.page-title{
  font-family: "Roboto",sans-serif !important;
  line-height: 1.25em;
  font-weight: 700;
  color: #222;
}

.product-add-form #product_addtocart_form .price-final_price{
float: right;
width: 100%;
}

#tabs .nav-tabs li:not(.first){
  margin-left: 2px;
}

/* End Detail Product */