/* Global */
.cloud-zoom-lens
{
border:1px solid #000000;
margin:-4px;
background-color:none;
cursor:crosshair;
box-shadow:0 0 10 rgba(0, 0, 0, 0.4);
}
.cloud-zoom-big
{
border:4px solid #CCCCCC;
overflow:hidden;
background-repeat:no-repeat;
background-color:#FFFFFF;
background-position:left top;
}
.cloud-zoom-loading
{
color:#FFFFFF;
background:#222222;
padding:3px;
border:1px solid #000000;
}
.product-view .product-img-box .product-image-zoom
{
overflow:visible;
}
.product.media .gallery-placeholder .more-views ul{
    list-style-type: none;
}
.product.media .gallery-placeholder .more-views ul li{
    float: left;
}
@import url("https://fonts.googleapis.com/css?family=Oswald");
.block-content .btn {
  background: #333f48; }

@media only screen and (max-width: 640px) {
  .cms-index-index #maincontent .container {
    padding: 0px; } }
/* End Global */
/* Header Menu */
.page-header .header-phone i {
  margin-right: 4px;
  margin-left: 10px; }

.page-header .bottom-block .menu-inner {
  border-radius: 25px 25px 0 0 !important; }

.page-header .middle-block-inner {
  padding: 0px; }

.page-header .header-banners {
  padding: 25px 0px 0px 0px; }

.page-header .middle-block-inner .left-block {
  padding-top: 0px;
  padding-bottom: 0px; }

#megamenu .topmenu > li > a {
  padding: 15px 40px 15px 40px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  text-transform: uppercase; }

#megamenu .topmenu > li:last-child {
  background-color: #347EC9;
  float: right;
  position: absolute;
  border-top-right-radius: 25px;
  right: 0; }
  #megamenu .topmenu > li:last-child :hover {
    border-top-right-radius: 25px;
    background-color: #347EC9; }
    #sticky-nav > li:last-child {
      background-color: #347EC9;
      float: right;
      position: absolute;
      border-top-right-radius: 25px;
      right: 0; }
      #sticky-nav  > li:last-child :hover {
        border-top-right-radius: 25px;
        background-color: #347EC9; }
#mini-cart > li > div > div > div.product-item-pricing > div.price-container > span {
  float: left; }

@media only screen and (max-width: 640px) {
  .header-wrapper .header-phone, .header-wrapper .header-banners, .minicart-wrapper {
    display: none; }

  .header-wrapper .logo {
    margin-top: 15px; } }
/* End Header Menu  */
/* Blok Mini Cart */
#btn-minicart-close .price-container > div.price-wrapper {
  float: left; }

.minicart-items {
  overflow-y: hidden; }

.minicart-wrapper {
  margin-top: 15px; }
  .minicart-wrapper #top-cart-btn-checkout {
    background-color: #ff5900;
    border-color: #ff5900; }

.block-minicart .subtitle {
  font-size: 18px;
  line-height: 26px; }

.block-minicart .details-qty > input {
  display: none; }

.block-minicart .product-item {
  min-height: 120px;
  padding: 10px; }

.block-minicart .product-item-name > a {
  font-size: 17px;
  letter-spacing: normal;
  line-height: 23px;
  font-weight: 300;
  color: #222; }

/* End Block Mini Cart  */
/* Banners Beneficios */
div.benefits-responsive {
  display: none;
  background-color: #333f48;
  color: white; }
  div.benefits-responsive div.item {
    display: inline-block;
    width: 49%;
    padding: 15px 0; }
    div.benefits-responsive div.item img {
      max-width: 86px;
      width: 40%; }
    div.benefits-responsive div.item a > span {
      display: inline-block;
      vertical-align: middle;
      color: white;
      font-size: 11px;
      max-width: 50%; }

@media only screen and (max-width: 640px) {
  div.benefits-responsive {
    display: block; } }
/* End Banner Beneficios*/
/*Slider Beneficios*/
#slider-benefits {
  text-align: center; }

@media only screen and (max-width: 600px) {
  #slider-benefits {
    min-height: 100px;
    padding-top: 30px; }
    #slider-benefits h2 {
      font-size: 20px; } }
/* End Slider Beneficios*/
/* About Us -- Block  */
.about-us {
  background: url(../images/background_info_principal_neumarket_scroll.jpg) center no-repeat;
  min-height: 409px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.about-us-content {
  max-width: 1272px;
  width: 100%;
  margin: auto;
  padding: 50px 10px;
  color: #ffffff;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-shadow: black 1px 1px 3px; }

.about-us-content span a {
  color: #FFA300; }

/* End About Us -- Block  */
/* Newsletter */
.footer .subscribe-block .form .btn {
  background: #333f48; }

button.subscribe {
  right: none;
  left: 76%; }

div.footer .footer-top-block .block-title {
  font-family: 'Oswald', sans-serif !important; }

.footer .subscribe-block .form .field input.form-control::placeholder {
  color: #333333;
  font-weight: 600; }

.footer .subscribe-block .form .field .control::before {
  color: #333333; }

@media only screen and (max-width: 640px) {
  div.footer-top-block {
    background: url(../images/mail_suscribe_mobil.png) center no-repeat !important; }

  hr.white-space {
    display: none !important; }

  div.footer .footer-top-block .block-title {
    width: 100%;
    padding: 20px 0px; }

  div.subscribe-block > div.newsletter {
    padding: 20px 0px !important;
    width: 100% !important; }
    div.subscribe-block > div.newsletter input[name=email] {
      width: 100% !important; }
    div.subscribe-block > div.newsletter input[name=email]::placeholder {
      color: #999 !important;
      font-size: 13px !important; }
    div.subscribe-block > div.newsletter button.subscribe {
      left: 90% !important; } }
/* End Newsletter */
/* Footer  */
.warranty {
  padding-top: 7px;
  background: url(/media/wysiwyg/backgrounds/neumarket1min.png) -49px 160px;
  height: 145px;
  width: 112px;
  display: inline-block; }

.footer .norton-sign {
  padding-top: 7px;
  background: url(/media/wysiwyg/backgrounds/neumarket1min.png) -228px 180px;
  height: 72px;
  width: 127px;
  display: inline-block;
  vertical-align: top;
  margin-top: 16px;
  margin-left: 24px; }

.footer .footer-block-title::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 19px;
  background: url(/media/wysiwyg/backgrounds/neumarket1min.png) -377px 149px; }

.footer-block-title span strong {
  margin-left: 43px; }

.footer-block-title > strong {
  margin-left: 43px; }

.footer .subscribe-block .form .field input.form-control {
  background: #c3c3c3;
  color: #333f48; }

.footer ul.social-links {
  float: unset;
  position: unset;
  vertical-align: unset;
  margin: -2px 0 0 -2px; }

.footer .links li, #footer .links a {
  padding: 0;
  color: white;
  font-weight: normal;
  font-size: 16px;
  list-style: none; }

.footer ul.links li a:before {
  content: unset; }

.footer .social-links i.fa {
  display: inline-block;
  border-radius: 60px;
  /* box-shadow: 0px 0px 2px #888; */
  padding: 6px 8px;
  line-height: normal;
  font-size: 20px;
  background-color: white;
  color: #44555d; }

.footer .social-links .facebook i.fa {
  padding: 6px 11px; }

@media only screen and (max-width: 640px) {
  .footer-middle-block {
    padding: 15px 0px;
    background: #343f47 !important; }
    .footer-middle-block div.call-block {
      margin-top: 35px; }
      .footer-middle-block div.call-block h5 {
        letter-spacing: 1px; }
    .footer-middle-block .footer-block-title {
      padding-top: 20px; }
    .footer-middle-block div.shipping-wrapper {
      display: none; } }
/* End Footer */
/* Sidebar*/
.block-title, .block-layered-nav .block-content dt {
  font-family: "Roboto",sans-serif !important; }

.sidebar .block {
  padding: 0px; }

.sidebar .block.filter .block-title {
  background-color: #ffa300;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0px;
  font-weight: 200; }

.sidebar .block .block-title, .block-collapsible-nav-title {
  margin: 0px; }

.sidebar .block.filter ol li a {
  font-family: "Roboto",sans-serif !important;
  font-weight: 200 !important; }
.sidebar .filter-options-title {
  font-family: "Roboto",sans-serif !important;
  border: solid 1px #bbb9b9;
  padding: 4px 12px;
  background-color: #f2f2f2;
  margin-bottom: 0px; }
.sidebar .filter-options-content {
  font-family: "Roboto",sans-serif !important;
  font-weight: 200;
  padding: 10px 10px;
  border: 1px solid #bbb9b9;
  border-top: 0px;
  border-bottom: 0px;
  max-height: 200px;
  overflow-y: scroll; }
.sidebar #narrow-by-list > .filter-options-item:last-child {
  border-bottom: 1px solid #bbb9b9; }

@media only screen and (max-width: 640px) {
  .sidebar {
    display: none; } }
/* End Sidebar */
/* toolbar-products */
.toolbar-products > .modes {
  display: none; }

/* End toolbar-products */
/* Products Grid */
.products-grid .special-price .price, .products-list .special-price .price {
  padding-right: 0px; }

.products-grid:not(.widget-product-grid) li.item {
  padding: 0 10px 10px; }

.product-item .indent > .product-box {
  border: 1px solid #eaeaea;
  float: left;
  margin-right: 15px; }

.product-box .product-item-details {
  min-height: 120px; }
  .product-box .product-item-details h4.product-item-name :hover {
    color: rgba(0, 0, 0, 0.86); }
  .product-box .product-item-details h4.product-item-name a {
    font-family: "Roboto",sans-serif !important;
    font-weight: 400;
    letter-spacing: normal; }
  .product-box .product-item-details h4.product-item-name .price-links-block {
    margin: 0px; }

.product-box:hover {
  box-shadow: 0 0 5px 5px #c2c2c2; }

.price-box span.price {
  font-family: "Roboto",sans-serif !important;
  font-size: 20px; }

.price-links-block span.old-price {
  margin-top: 7px; }
  .price-links-block span.old-price .price-wrapper {
    text-align: left;
    float: left; }
  .price-links-block span.old-price span.price {
    font-size: 16px;
    font-weight: 400 !important;
    font-family: "Roboto",sans-serif !important; }

.price-wrapper {
  float: right; }

.products-grid .special-price .price, .products-list .special-price .price {
  background: none;
  font-family: "Roboto",sans-serif !important; }

.special-price {
  text-align: right;
  float: right; }
  .special-price .price {
    color: #333f48 !important;
    font-family: "Roboto",sans-serif !important; }

.product-labels .label-sale {
  background-color: #21ae5e !important;
  width: 82px;
  border-top-right-radius: 5px;
  text-shadow: 1.2px 1.2px #000;
  font-size: 25px !important;
  height: auto; }

@media only screen and (max-width: 640px) {
  .product-info-main {
    padding: 0px 12%; }

  .products-grid:not(.widget-product-grid) li.item + li.item {
    margin-top: 0px; }

  div.product-item-info > div.indent {
    padding: 0px 15%; }

  div.product-box {
    width: 100%;
    border-radius: 10px; }
    div.product-box .image-wrapper {
      width: auto;
      height: auto; } }
/* End Product Grid  */
/*  Detail Product  */
body.catalog-product-view .product-custom, body.catalog-product-view .product-social-links {
  display: none; }

#product_addtocart_form .price-final_price .price-wrapper > .price {
  font-size: 30px;
  line-height: 1;
  font-family: "Roboto",sans-serif !important; }

.product-info-main h1.page-title {
  font-family: "Roboto",sans-serif !important;
  line-height: 1.25em;
  font-weight: 700;
  color: #222; }

.product-add-form #product_addtocart_form .price-final_price {
  float: right;
  width: 100%; }

#tabs .nav-tabs li:not(.first) {
  margin-left: 2px; }

/* End Detail Product */
/* Product related */
.products-grid.products-related li.item .field {
  display: none; }

/* End Product Related */
/* Page Checkout */
body.checkout-cart-index div.crosssell {
  display: none; }

.cart-container .block.crosssell, body .cart-container .form-cart {
  width: 100%; }

.form-cart .product-item-details .product-item-name > a {
  font-weight: 600;
  font-size: 20px;
  font-family: "Roboto",sans-serif !important; }
.form-cart td.qty > div.qty {
  padding: 0px;
  margin: 0 auto; }
.form-cart #shopping-cart-table tbody tr td {
  vertical-align: middle; }
.form-cart div.actions a.continue, .form-cart div.actions #empty_cart_button, .form-cart div.actions button.update {
  border-radius: 5px !important;
  font-size: 12px !important;
  font-family: "Roboto",sans-serif !important;
  font-weight: 400 !important; }
.form-cart table#shopping-cart-table tr.item-info td {
  width: 18%; }
.form-cart table#shopping-cart-table tr.item-info td:first-child {
  width: 45%;
  border-left: 1px solid #dddddd; }
.form-cart td.price-wrapper {
  width: 100%;
  float: none; }

#maincontent div.cart-summary {
  width: 100%; }
  #maincontent div.cart-summary #block-shipping {
    display: none; }
  #maincontent div.cart-summary .totals-wrapper {
    padding-top: 10px;
    width: 40%;
    float: right;
    margin-bottom: 20px; }
    #maincontent div.cart-summary .totals-wrapper caption.table-caption {
      display: none; }
    #maincontent div.cart-summary .totals-wrapper .checkout-methods-items button.checkout {
      float: right;
      border-radius: 5px;
      font-size: 12px;
      font-family: "Roboto",sans-serif !important;
      font-weight: 400; }
    #maincontent div.cart-summary .totals-wrapper a.multicheckout {
      display: none; }
    #maincontent div.cart-summary .totals-wrapper table.totals {
      font-family: 'Roboto',sans-serif;
      background-color: #f4f4f4;
      font-size: 18px;
      text-align: start; }
      #maincontent div.cart-summary .totals-wrapper table.totals tr > th {
        width: 50%;
        text-align: left;
        font-size: 16px;
        font-family: 'Roboto',sans-serif;
        padding-left: 20px !important;
        float: left !important; }
      #maincontent div.cart-summary .totals-wrapper table.totals tr > th > strong {
        font-family: 'Roboto',sans-serif;
        font-size: 16px; }
      #maincontent div.cart-summary .totals-wrapper table.totals tr > td {
        width: 50%;
        text-align: right;
        font-family: 'Roboto',sans-serif; }
        #maincontent div.cart-summary .totals-wrapper table.totals tr > td span.price {
          font-size: 16px;
          padding-right: 20px; }
    #maincontent div.cart-summary .totals-wrapper .totals-inner {
      padding: 0px; }
  #maincontent div.cart-summary #block-discount {
    width: 50%;
    float: left; }
    #maincontent div.cart-summary #block-discount input {
      height: 40px; }
    #maincontent div.cart-summary #block-discount label[for=coupon_code] {
      display: none; }
    #maincontent div.cart-summary #block-discount input#coupon_code::placeholder {
      font-size: 16px; }
    #maincontent div.cart-summary #block-discount .field {
      width: 50%;
      float: left; }
    #maincontent div.cart-summary #block-discount .actions-toolbar {
      float: left;
      margin: 0px;
      padding: 0px;
      border: 0px; }
      #maincontent div.cart-summary #block-discount .actions-toolbar .primary {
        margin-left: 8px; }
    #maincontent div.cart-summary #block-discount .block-title {
      display: none; }

.checkout-cart-index header.page-title > h1 {
  font-weight: 600 !important;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase !important;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 24px;
  color: #111; }
.checkout-cart-index .cart-container .block.crosssell, .checkout-cart-index body .cart-container .form-cart {
  width: 100%; }

@media only screen and (max-width: 640px) {
  #maincontent div.cart-summary #block-discount .field {
    width: 100%; }

  .cart.table-wrapper .product-item-photo {
    width: 40%;
    float: left;
    padding-right: 0px; }

  .cart.table-wrapper .product-item-details {
    width: 50%;
    float: left; }

  .totals-wrapper {
    padding-right: 0px; }

  #maincontent div.cart-summary .totals-wrapper table.totals tr > th {
    width: 50% !important; }

  #maincontent div.cart-summary .totals-wrapper table.totals tr > td {
    width: 50%; }

  #maincontent div.cart-summary #block-discount {
    width: 100%; }
  #maincontent div.cart-summary .totals-wrapper {
    width: 100%; } }
/* End Page Checkout */

/*# sourceMappingURL=custom.css.map */
