<div>
    <a href="#" id="click-me">Click Me</a>
</div>

<div id="popup-mpdal" class="finder-home">
	<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magebees_Finder::finder_tabs.phtml")->toHtml() ?>
</div>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-mpdal'));
            $("#click-me").on('click',function(){
                $("#popup-mpdal").modal("openModal");
            });

        }
    );
</script>