<?php $_helper = $this->helper('Magebees\Finder\Helper\Data'); ?>
<?php $finder = $_helper->getFinderDataForTab(2); 
$title_1 = $finder->getTitle();
$finder = $_helper->getFinderDataForTab(3); 
$title_2 = $finder->getTitle();

?>
<div class="tabs container">
	<div class="tab-content">
		<div class="title-browser">SELECCIONA TU VEHÍCULO</div>
		<div class="subtitle-browser" >Personaliza, modifica, actualiza, repara y reemplaza</div>
		<?php echo  $this->getLayout()->createBlock("Magebees\Finder\Block\Finder")->setFinderId(2)->setTemplate("finder.phtml")->toHtml() ?>
	</div>
</div>
<style>
.tab {
	display:none;
}

.tab.active {
	display:block;
}
</style>
<script type="text/javascript">
    requirejs(['jquery'], function(jQuery){
       jQuery('.tabs .tab-links a').on('click', function(e) {
		var currentAttrValue = jQuery(this).attr('href');

		// Show/Hide Tabs
		jQuery('.tabs ' + currentAttrValue).show().siblings().hide();

		// Change/remove current tab to active
		jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

		e.preventDefault();
	});
    }); 
</script>
