<?php
/* @var block \Magebees\Finder\Block\Finder */
if ($block->getEnabled()) :
    $_helper = $this->helper('Magebees\Finder\Helper\Data');
    $finderId = $block->getData('finder_id');//from predefind code
    $search = 0;
    $path = $this->getRequest()->getRequestString();
    $categories =  $_helper->getCategories();
        $searchCat = false;
        foreach($categories as $key => $value){
            if(strpos($path, $value)){
                $searchCat = true;
                break;
            }
    }
    $search = $searchCat;
    if (!$finderId) {
        $finderId = $_helper->getFinderId($path);
    }
    
    $this->setFinderId($finderId);
    $finders = $block->getFinderById($finderId);

    $urlstring = $finders->getYmmValueFromPath($path);

    $current  = $finders->getSavedValue('current');
    if ($urlstring!=$current) {
        $dropdowns = $finders->getDropdownsByCurrent($urlstring);
        $finders->saveDropDownValues($dropdowns);
    }
    $finderDropdowns = $block->getDropdownsCollectionByFinderId($finderId);
    $dropdowncounts=$finderDropdowns->count();
    $dropdown_id = $finderDropdowns->getFirstItem()->getData('dropdown_id');
   // $finders->getNoOfColumns() = 4;
   $cols = 4;
    if ($finders->getStatus() && count($finderDropdowns)!="") { ?>
        <div class="finderProducts <?php echo $finders->getDropdownStyle() ?>">
			
            <form action="<?php echo $this->getSearchResultUrl(); ?>" id="finderform_<?php echo $finderId ?>" name="finderform"  class="finderform" method="post">
                    <input type="hidden" name="finder_id" value="<?php echo $finderId ?>">
                    <h3 class="finder_header"><?php //echo __($finders->getTitle()); ?></h3>
                    <div id="<?php echo "finderDropdowns_".$finderId ?>" class="finderDropdowns">
                        <div class="finder_cols">
                            <?php $i=1;?>
                            <?php foreach ($finderDropdowns as $dropdown) : ?>
                                <div class="inner_buscador inner_buscador_<?php echo $i ?>" >
                                    <div class="box_buscador box_buscador_<?php echo $i ?>" >
                                    <span class="label_buscador" ><?php echo $i ?></span>
                                            <select name="finder[<?php echo $dropdown->getId() ?>]" id="finder_<?php echo $finderId ?>_<?php echo $dropdown->getId() ?>" drop-down-counts="<?php echo $dropdowncounts ?>" drop-down-id="<?php echo $dropdown->getId() ?>" >
                                                <?php foreach ($block->getDropdownValues($dropdown) as $val) : ?>
                                                    <option class="option_buscador" value="<?php echo $val['value'] ?>" <?php if ($val['selected']) : ?>selected="selected"<?php endif ?>>
                                                        <?php 
                                                        if($val['value']==0){
                                                            echo $dropdown->getName();
                                                        }else{
                                                            echo $val['label'];
                                                        }
                                                        ?>
                                                    </option>
                                            <?php endforeach ?>
                                            </select>
                                    </div>
                                </div>
                            <?php $i++;  endforeach; ?>
                            <div class="inner_buscador" >
                            <button id="find_<?php echo $finderId ?>" type="submit" title="Find" value="1" name="find" class="btn_search"
                             <?php if (!$block->isButtonEnabled()) : ?>
                             disabled=""
                             <?php endif; ?> >
                             <span>
                                 <?php echo __($block->getFindBtnText()) ?>
                                </span>
                            </button>
                            <button id="reset_<?php echo $finderId ?>" drop-down-counts="<?php echo $dropdowncounts ?>" name="reset" value="1" title="Reset" class="button" 
                                <?php if ($search) : ?>
                                type="submit" 
                                <?php  else : ?>
                                type="button"
                                <?php endif; ?> >
                                <span>
                                    <span>
                                        <?php echo __($block->getResetBtnText()) ?>
                                        </span>
                                    </span>
                            </button>    
                            </div>
                         <div>   
                    </div>
            </form>
        </div>
    <?php
    }
    ?>
<script type="text/javascript">
    requirejs(['jquery','cwsfinder'], function(jQuery){
        var finderMage = {'finderId':'<?php echo $finderId ?>','optionurl':'<?php echo $block->getOptionValueUrl() ?>','searchurl':'<?php echo $block->getSearchResultUrl() ?>','dropdowncounts':<?php echo $dropdowncounts ?>,'autosearch':<?php echo $block->getAutosearch() ?>};
        var dropdown_div_id = '<?php echo "#finderDropdowns_".$finderId ?>';
        jQuery(dropdown_div_id).cwsfinder(finderMage);
    }); 
</script>
<?php endif; ?>
