<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Top menu for store
 *
 * @see \Magento\Theme\Block\Html\Topmenu
 */
?>
<?php 
$columnsLimit = $block->getColumnsLimit() ?: 0;
$_menu = $block->getHtml('level-top', 'submenu', $columnsLimit);
$menuStatus = $this->helper('Meigee\CategoriesEnhanced\Helper\Data')->getConfig('meigee_categoriesenhanced_config/general/status');
?>
<nav class="navbar navbar-default navigation"<?php if($menuStatus): ?> id="sticky-megamenu"<?php endif; ?>>
	<div class="collapse topmenu navbar-collapse megamenu">
		<ul class="nav topmenu navbar-nav" id="sticky-nav"<?php if($menuStatus == 0): ?> data-mage-init='{"menu":{"responsive":true, "expanded":true, "delay": 0, "position":{"my":"left top","at":"left bottom"}}}'<?php endif; ?>>
			<?= /* @escapeNotVerified */ $_menu ?>
			<?= /* @escapeNotVerified */ $block->getChildHtml() ?>
			<li class="level0 nav-1 first level-top"><a href="http://www.neumarket.com/blog" class="level-top"> <span>Blog</span></a></li>
		</ul>
	</div>
</nav>