<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Update Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart update">
		<div class="fieldset clearfix">
			<?php if ($block->shouldRenderQuantity()): ?>
				<div class="field qty">
					<label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
					<div class="control">
						<div class="quantity-decrease" onclick="qtyDown()"><i class="icon-arrow-left"></i></div>
						<input type="number"
							   name="qty"
							   id="qty"
							   value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
							   title="<?= /* @escapeNotVerified */ __('Qty') ?>"
							   class="input-text qty cart-qty"
							   data-validate="{'required-number':true,digits:true}"
							   data-role="cart-item-qty"/>
						<div class="quantity-increase" onclick="qtyUp()"><i class="icon-arrow-right"></i></div>
					</div>
				</div>
			<?php endif; ?>
			<div class="actions">
				<div class="actions">
					<button type="submit"
							title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
							class="action primary tocart btn btn-primary btn-cart type-2"
							id="product-updatecart-button">
						<span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
					</button>
					<?php echo $block->getChildHtml('', true) ?>
				</div>
			</div>
		</div>
    </div>
	<?php if ($block->shouldRenderQuantity()): ?>
		<script type="text/javascript">
			var qty_el = document.getElementById('qty');
			var qty = qty_el.value;
			// if(qty < 2){
				// jQuery('.quantity_box_button_down').css({
				// 'visibility' : 'hidden'
				// });
			// }
			function qtyDown(){
				var qty_el = document.getElementById('qty');
				var qty = qty_el.value;
				// if( qty == 2) {
				// jQuery('.quantity_box_button_down').css({
					// 'visibility' : 'hidden'
				// });
				// }
				if( !isNaN( qty ) && qty > 0 ){
				qty_el.value--;
				}
				return false;
			}

			function qtyUp(){
				var qty_el = document.getElementById('qty');
				var qty = qty_el.value;
				if( !isNaN( qty )) {
				qty_el.value++;
				}
				// jQuery('.quantity_box_button_down').css({
				// 'visibility' : 'visible'
				// });
				return false;
			}
		</script>
	<?php endif; ?>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "validation": {},
                "addToCart": {
                    "cartButtonId": "#product-updatecart-button",
                    "cartForm": "#product_addtocart_form"
                }
            }
        }
    </script>
<?php endif; ?>
