<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */

?>
<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Meigee_Porter::blockmap.phtml")->toHtml();?>
<form class="form contact"
      action="<?php echo $block->escapeUrl($block->getFormAction()); ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?php echo $block->escapeHtmlAttr(__('* Required Fields')); ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset with-border">
        <h2 class="legend"><span><?php echo $block->escapeHtml(__('Write Us')); ?></span></h2>
        <div class="field note no-label"><?php echo $block->escapeHtml(__('Jot us a note and we’ll get back to you as quickly as possible.')); ?></div>
		<div class="row">
			<div class="field name required col-sm-6">
				<label class="label" for="name"><span><?php echo $block->escapeHtml(__('Name')); ?></span></label>
				<div class="control">
					<input name="name" id="name" title="<?php echo $block->escapeHtmlAttr(__('Name')); ?>" value="<?php echo $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="form-control" type="text" data-validate="{required:true}"/>
				</div>
			</div>
			<div class="field email required col-sm-6">
				<label class="label" for="email"><span><?php echo $block->escapeHtml(__('Email')); ?></span></label>
				<div class="control">
					<input name="email" id="email" title="<?php echo $block->escapeHtmlAttr(__('Email')); ?>" value="<?php echo $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="form-control" type="email" data-validate="{required:true, 'validate-email':true}"/>
				</div>
			</div>
        </div>
        <div class="field telephone">
            <label class="label" for="telephone"><span><?php echo $block->escapeHtml(__('Phone Number')); ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="<?php echo $block->escapeHtmlAttr(__('Phone Number')); ?>" value="<?php echo $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="form-control" type="text" />
            </div>
        </div>
        <div class="field comment required">
            <label class="label" for="comment"><span><?php echo $block->escapeHtml(__('What’s on your mind?')); ?></span></label>
            <div class="control">
                <textarea name="comment" id="comment" title="<?php echo $block->escapeHtmlAttr(__('What’s on your mind?')); ?>" class="form-control" cols="5" rows="3" data-validate="{required:true}"><?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
            </div>
        </div>
        <?php echo $block->getChildHtml('form.additional.info'); ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?php echo $block->escapeHtmlAttr(__('Submit')); ?>" class="action submit btn btn-default">
                <span><?php echo $block->escapeHtml(__('Submit')); ?></span>
            </button>
        </div>
    </div>
</form>
