<?php
$meigee_helper = $this->helper('\Meigee\Porter\Helper\PorterGeneral');
?>
<div class="header-wrapper">
	<header class="page-header">
		<div class="top-block">
			<div class="container">
				<div class="block-inner clearfix">
					<div class="left-block clearfix">
						<?php echo $this->getChildHtml("porter.header.info"); ?>
					</div>
					<div class="right-block clearfix">
						<?php echo $this->getChildHtml("store_language"); ?>
						<?php echo $this->getChildHtml("currency"); ?>
						<div class="clearfix visible-xs"></div>
						<?php echo $this->getChildHtml("header.links"); ?>
					</div>
				</div>
			</div>
		</div>
		<div class="middle-block">
			<div class="container">
				<div class="middle-block-inner clearfix">
					<div class="left-block clearfix">
						<div class="panel header"><a class="action skip contentarea" href="#contentarea"><span>Skip to Content</span></a>
							<?php echo $this->getChildHtml("logo"); ?>
						</div>
						<?php echo $this->getChildHtml("header.welcome"); ?>
					</div>
					<?php echo $this->getChildHtml("porter.header.custom.block"); ?>
					<div class="right-block">
						<?php echo $this->getChildHtml("minicart"); ?>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-block">
			<div class="container">
				<div class="menu-inner clearfix" data-test="menu-test">
					<div class="toggle-nav clearfix">
					<?php echo $this->getChildHtml("sticky.catalog.topnav"); ?> 
					</div>
					<?php echo $this->getChildHtml("topSearch"); ?>
				</div>
			</div>
		</div>
		<?php echo $this->getChildHtml("bgslider"); ?>
  </header>
  <?php echo $this->getChildHtml("meigee_sticky_header"); ?>
  <?php echo $this->getChildHtml("meigee_mobile_header"); ?>
</div>